<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Nuevo Viaje</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/travelcan/listaViajes}">Viajes </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/travelcan/listaMascota}">Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled active" th:href="@{/travelcan/listaPersonas}">Personas</a>
            </li>
        </ul>

    </div>
</nav>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Nuevo Viaje</h1>
        <form method="post" th:action="@{'/shipper/save'}" class="mt-2">
            <input th:value="${viajes.idViajes}" name="idViajes" type="hidden"/>
            <div class="mb-3">
                <label for="recojo" class="form-label">Punto de recojo</label>
                <input name="recojo" type="text" class="form-control" id="recojo" th:value="${viajes.idViajes}" disabled>
            </div>
            <div class="mb-3">
                <label for="personas" class="form-label">Cantidad de Personas</label>
                <input name="personas" type="text" class="form-control" id="personas" th:value="${viajes.cant_personas}" disabled>
            </div>
            <div class="mb-3">
                <label for="perros" class="form-label">Cantidad de Perros</label>
                <input name="perros" type="text" class="form-control" id="perros" th:value="${viajes.cant_perros}" disabled>
            </div>
            <div class="mb-3">
                <label for="lugar" class="form-label">Selector de Lugares</label>
                <input name="lugar" type="text" class="form-control" id="lugar" th:value="${viajes.lugares_idLugares}" disabled>
            </div>
            <a th:href="@{/travelcan/listaViajes}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="submit" class="btn btn-secondary">Nueva Mascota</button>

        </form>
    </div>
</main>

</body>
</html>